@font-face{
    font-family: ML;
    src: url(../fonts/Montserrat-Light.woff);
}
@font-face{
    font-family: REB;
    src: url(../fonts/Raleway-ExtraBold.ttf);
}
@font-face{
    font-family: RM;
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face{
    font-family: RB;
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face{
    font-family: RSB;
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face{
    font-family: RR;
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face{
    font-family: MPR;
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}